communex==0.1.34.5
typer
uvicorn
keylimiter
pydantic-settings
loguru
alembic
sqlalchemy
psycopg2-binary
asyncpg
aioredis
neo4j-rust-ext
langchain
langchain-openai
langchain_community
transformers
python-bitcoinlib
bitcoin
base58
pycryptodome
jinja2
strawberry-graphql
substrate-interface
pytest
pytest-asyncio
pytest-cov
pytest-mock
