communex 
typer
uvicorn
keylimiter
pydantic-settings
loguru
alembic
sqlalchemy
psycopg2-binary
asyncpg
aioredis
neo4j
langchain
langchain-openai
langchain_community
transformers
python-bitcoinrpc
bitcoin
base58
pycryptodome
jinja2
strawberry-graphql
substrate-interface
pytest
pytest-asyncio
pytest-cov
pytest-mock