communex 
typer
uvicorn
keylimiter
pydantic-settings
loguru
alembic
sqlalchemy
psycopg2-binary
asyncpg
redis
neo4j
langchain
langchain-openai
langchain_community
transformers
python-bitcoinrpc
bitcoin
base58
pycryptodome
fuzzywuzzy