ITERATION_INTERVAL=100
MAX_ALLOWED_WEIGHTS=420
NET_UID=41
VALIDATOR_KEY=valdiator
LLM_QUERY_TIMEOUT=60
QUERY_TIMEOUT=60
CHALLENGE_TIMEOUT=60

POSTGRES_DB=validator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeit456$

BITCOIN_NODE_RPC_URL=http://daxtohujek446464:lubosztezhujek3446457@62.210.88.131:8332

DATABASE_URL=postgresql+asyncpg://postgres:changeit456$@localhost:5432/validator

API_RATE_LIMIT=1000
REDIS_URL=redis://localhost:6379/0

LLM_API_KEY=
LLM_TYPE=openai
